@tailwind base;
@tailwind components;
@tailwind utilities;

.cancel-button-model-workspace:hover {
    background: tomato !important;
    color: white !important;
    border: 1px solid tomato !important;
}

/* Profile.css */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-left: 100px;
}

.profile-card {
    max-width: 1200px;

    border-radius: 8px;

    padding: 20px;
}

.profile-header {
    text-align: center;
}

.profile-header h1 {
    margin: 0;
    font-size: 32px;
    color: #333;
    font-weight: 600;
}

.profile-header p {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
}

.profile-details {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.metric-card {

    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.metric-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.profile-details {
    display: flex;
    justify-content: space-between; /* Align cards with space between */
}

.metric-card {
    flex: 1; /* Grow to fill available space */
    margin: 0 10px; /* Add spacing from left and right */

}